.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: auto;
}

@media (max-width: 780px) {
  .footer {
    margin: auto;
    padding: 10px;
  }
}